@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}
/*Header / nav*/
.externDiv {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    z-index: 50;
    color: #ffffff;
    background-color: rgb(65, 90, 119);
    @media (min-width: 1024px) {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    padding: 4px 20px;
}

.logoDiv {
    display: flex;
    align-items: center;
    flex: 1;
}

.image {
    height: 5em;
    width: 5em;
    border-radius: 10%;
}

.linksDiv {
    @media (min-width: 1024px) {
        display: flex;
    }
    @media (min-width: 768px) {
        display: flex;
    }
    @media (min-width: 1024px) {
        flex: 1;
    }
    align-items: center;
    float: right;
    justify-content: flex-end;
    font-weight: normal;
    display: flex; /* revisar*/
}

.name {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Libre Baskerville", arial, serif;
    font-size: xxx-large;
    @media (orientation: portrait) {
        display: none;
    }

}

.listDiv {
    flex: 10;

}

.listStyles {
    display: flex;
    gap: 8px;
    font-size: 18px;

}
/*modal*/
/* estilos del nuevo alert */
.modal, .modal2 {
    display: block; /* Ocultar el modal por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    justify-content: center;
    align-items: center;

}

.modal-content, .modal-content2 {
    background-color: #fff;
    color: #1a1a1a;
    padding: 20px;
    margin-top: 20%;
    width: 20%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    align-items: center;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -30%);
    display: grid
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transform: translate(50%, -50%)
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;

}

/* Estilos para botón Cerrar */
.buttonModal {
    background-color: #007f7f;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005f5f;

}
/*footer*/
.site-footer {
    background-color: #0d1b2a;
    color: #e0e1dd;
    padding: 20px;
    text-align: center;
    position: relative; /* Cambia a relative en lugar de fixed */
    width: 100%;
}

.container {
    display: grid;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.footer-section {
    flex: 2;
    margin-right: 20px;
}

.footer-section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.footer-section p {
    font-size: 1rem;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section a {
    color: #e0e1dd;
    text-decoration: none;
}

.footer-bottom {
    margin-top: 20px;
    text-align: left;
}