/*@import "~bootstrap/scss/bootstrap";*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}
/*Header*/
.externDiv {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    z-index: 50;
    color: #ffffff;
    background-color: rgb(65, 90, 119);
    border-radius: 5%;
    @media (min-width: 1024px) {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    padding: 4px 20px;
}

.logoDiv {
    display: flex;
    align-items: center;
    flex: 1;
}

.image {
    height: 5em;
    width: 5em;
    border-radius: 10%;
}

.linksDiv {
    @media (min-width: 1024px) {
        display: flex;
    }
    @media (min-width: 768px) {
        display: flex;
    }
    @media (min-width: 1024px) {
        flex: 1;
    }
    align-items: center;
    float: right;
    justify-content: flex-end;
    font-weight: normal;
    display: flex; /* revisar*/
}

.name {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Libre Baskerville", arial, serif;
    font-size: xxx-large;

}

.listDiv {
    flex: 10;

}

.listStyles {
    display: flex;
    gap: 8px;
    font-size: 18px;

}
/*home*/
.bigTitle {
    font-size: 2em;
    text-align: center;
}

p {
    font-size: 20px;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;

}

.contenedor {
    border: 1px solid #415a77;
    border-radius: 5%;
    padding: 16px;
    margin: 16px;
    text-align: center;
    background-color: #415a77;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.expandido {
    height: 50%;
    border-radius: 5%;
}

.title {
    background-color: #415a77;
    border-radius: 5%;
    padding: 10px;
    text-align: center;
    color: #e0e1dd;

}

.contenido {
    background-color: #778da9;
    padding: 10px;
    border-radius: 5%;
    color: #e0e1dd;
    text-shadow: black;
}
body {
    background-color: #e0e1dd;
}

.body-div {
    height: 700px;
    background-color: #e0e1dd;
    color: #000000;
    margin-bottom: 10%; /* Ajusta según la altura de tu footer */
}
.site-footer {
    background-color: #0d1b2a;
    color: #e0e1dd;
    padding: 20px;
    text-align: center;
    position: relative; /* Cambia a relative en lugar de fixed */
    width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*footer*/
.footer-content {
    display: flex;
    width: 100%;
}

.footer-section {
    flex: 2;
    margin-right: 20px;
}

.footer-section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.footer-section p {
    font-size: 1rem;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section a {
    color: #e0e1dd;
    text-decoration: none;
}

.footer-bottom {
    margin-top: 20px;
    text-align: left;
}
