.body-div{
    height: 700px;
    background-color: blueviolet;
    color:white
}
.externDiv {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    z-index: 50;
    color: rgb(255, 255, 255);
    background-color: rgb(69, 44, 88);
    @media (min-width: 1024px) {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    padding: 4px 20px;
}

.logoDiv {
    display: flex;
    align-items: center;
    flex: 1;
}

.linksDiv {
    @media (min-width: 1024px) {
        display: flex;
    }
    @media (min-width: 768px) {
        display: flex;
    }
    @media (min-width: 1024px) {
        flex: 1;
    }
    align-items: center;
    justify-content: flex-end;
    font-weight: normal;
    display: flex; /* revisar*/
}

.listDiv {
    flex: 10;
}
.listStyles{
    display: flex;
    gap: 8px;
    margin-right: 16px;
    font-size: 18px;
}